*{
    background: rgb(255, 132,100);
   

}
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 15%;
}
button{
   border-radius: 5px;
   padding: 10px;
}